.left-panel {
  position: absolute;
  top: 10px;
  width: 50px;
  background: aliceblue;
  height: calc(100% - 35px);
}

.expanded {
  width: 500px;
}

.panel-header {
  width: 100%;
}

.header-icons {
  margin-top: 10px;
}

.panel-icon {
  display: block;
  line-height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.reset-app {
  cursor: pointer;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.topic-panel {
  position: absolute;
  left: 0px;
  top: 30px;
  height: calc(100% - 30px);
  width: 100%;
  background-color: orange;
}

.backgroundFill {
  background: gray;
  height: 30px;
}

.panel-toggle {
  position: absolute;
  left: 50px;
  background-color: red;
  line-height: 30px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  &.open {
    left: 500px;
  }
}

.topic-one-header-item {
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  &.active {
    color: red;
  }
}
