.map-view {
  background: $background-navigation-vector;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  padding: 0;
  margin: 0;
  display: inline-block;
  left: 25%;
  width: 75%;
}
